# Kappa score calculation

In [2]:
# Project imports
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

# Project variables
inputFile = "input.csv"

##### Import CSV

In [3]:
data = pd.read_csv(inputFile)

# Drop the index, thread and email ID
data.drop("#", inplace=True, axis=1)
data.drop("Tread Id", inplace=True, axis=1)
data.drop("Email ID", inplace=True, axis=1)
data.drop("Agreement?", inplace=True, axis=1)
data.drop("Decided", inplace=True, axis=1)

# Drop NaN value rows
data.dropna(inplace=True)

# Display
data.head(5)

       Marten     Rick                                    Krishan
0      not-ak   not-ak                                     not-ak
1  technology   not-ak  technology,existence,existence-behavioral
2  technology   not-ak  technology,existence,existence-behavioral
3      not-ak   not-ak                                     not-ak
4     process  process                                    process

##### Convert to AK and Not-AK
Used for comparisons of Kappa score for checking if the group is on the same line for this property.

In [4]:
# Mapping
# ak emails         -> True
# not-ak emails     -> False
tData = data.applymap(lambda cell: False if cell.strip().lower() == "not-ak" else True)
tData.head(5)

   Marten   Rick  Krishan
0   False  False    False
1    True  False     True
2    True  False     True
3   False  False    False
4    True   True     True

In [6]:
# Calculate the kappa score
print("Amount of particpants:", tData.shape[1])

def calculateKappa(df, start=0, end=None):
    if end == None:
        end = df.shape[0]

    colLength = df.shape[1]
    output = pd.DataFrame(columns=df.columns, index=df.columns)

    output

    for rIdx in range(0, colLength):
        part1 = df.iloc[start:end, rIdx]
        for cIdx in range(0, colLength):
            part2 = df.iloc[start:end, cIdx]
            output.iloc[cIdx, rIdx] = cohen_kappa_score(part1, part2)
    
    # Print the output
    print("--------------------------------------------")
    print(f"Created from rows {start} till {end}")
    print(output.to_latex())

calculateKappa(tData, end=50)
calculateKappa(tData, start=51, end = 100)
calculateKappa(tData, start=101)

Amount of particpants: 3
--------------------------------------------
Created from rows 0 till 50
\begin{tabular}{llll}
\toprule
{} &    Marten &      Rick &   Krishan \\
\midrule
Marten  &       1.0 &  0.591837 &  0.655172 \\
Rick    &  0.591837 &       1.0 &  0.545455 \\
Krishan &  0.655172 &  0.545455 &       1.0 \\
\bottomrule
\end{tabular}

--------------------------------------------
Created from rows 51 till 100
\begin{tabular}{llll}
\toprule
{} &    Marten &      Rick &   Krishan \\
\midrule
Marten  &       1.0 &  0.718159 &  0.624041 \\
Rick    &  0.718159 &       1.0 &  0.756623 \\
Krishan &  0.624041 &  0.756623 &       1.0 \\
\bottomrule
\end{tabular}

--------------------------------------------
Created from rows 101 till 147
\begin{tabular}{llll}
\toprule
{} &    Marten &      Rick &   Krishan \\
\midrule
Marten  &       1.0 &  0.818898 &  0.656716 \\
Rick    &  0.818898 &       1.0 &  0.740602 \\
Krishan &  0.656716 &  0.740602 &       1.0 \\
\bottomrule
\end{tabular}

C:\Users\rickt\AppData\Local\Temp\ipykernel_46776\2792370039.py:22: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(output.to_latex())
C:\Users\rickt\AppData\Local\Temp\ipykernel_46776\2792370039.py:22: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(output.to_latex())
C:\Users\rickt\AppData\Local\Temp\ipykernel_46776\2792370039.py:22: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(output.to_latex())